body {
    overflow: hidden; /* Hide scrollbars */
}

div.absoluteTb {
    position: absolute;
    top: 845px;
    left: 780px;
    width: 200px;
    height: 100px;
}
div.submitBtn {
    position: absolute;
    top: 860px;
    left: 1340px;
    width: 200px;
    height: 100px;
}
div.pokemon {
    position: absolute;
    top: 260px;
    left: 1290px;
    width: 200px;
    height: 100px;
}
div.numberOfPokemons {
    position: absolute;
    top: 83px;
    left: 490px;
}
#pokemon-image {
    transform: scale(2.5);
    filter: brightness(0);
    transition: filter 0.5s ease-out;
}

.revealed #pokemon-image {
    filter: none;
}